.site-layout .site-layout-background {
    background: #fff;
}

.main-sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: white;
}

.main-context-header {
    position: fixed;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 200px;
}

.main-context {
    margin: 80px 16px 0;
    overflow: initial;

    .main-context-body {
        min-height: 570px;
        padding: 24px;
        text-align: center;
    }
}

.main-footer {
    text-align: center;
}